body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100%;
    width: 100%;
}

.slider__container {
    gap: 50px;
    background-color: rgb(66, 66, 77);
    min-width: 320px;
    padding: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.slider__image {
    width: 100%;
    height: 87%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #1c1c1c;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.slider__control-panel {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.slider__mem-text {
    animation-name: fadeIn;
    animation-duration: 1s;
    color: white;
}
.slider__buttons-container {
    display: flex;
    gap: 5px;
    margin-right: -15px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.slider__button-area {
    padding: 10px;
}

.slider__button-area:hover {
    cursor: pointer;
}

.slider__button {
    border: none;
    background-color: rgb(116, 187, 181);
    border-radius: 50px;
    width: 20px;
    height: 20px;
}

.slider__button:hover {
    cursor: pointer;
}

.slider__button_choosen {
    animation-name: fadeIn;
    animation-duration: 1s;
    border: 3px solid rgb(116, 187, 181);
    background-color: rgb(66, 66, 77);
}

.slider__button-area:hover .slider__button {
    background-color: white;
}

.slider__button-area:hover .slider__button_choosen {
    border: 3px solid white;
    background-color: rgb(66, 66, 77);
}

.slider__delete-image {
    display: none;
}

.slider__delete-mem-text {
    display: none; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
    .slider__control-panel {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .slider__buttons-container {
        align-self: center;
        margin-left: -15px;
    }
}